50 11  * * *  root python3 /home/suporte/projeto/automatizaArCondicionado_ala-B.py
30 17  * * *  root python3 /home/suporte/projeto/automatizaArCondicionado_ala-A.py
00 18  * * *  root python3 /home/suporte/projeto/automatizaArCondicionado_ala-B.py